<ion-header>

</ion-header>

<ion-content>
  <div class="background-pic">
    <div class="background-filter">
      <div class="shape1">
      </div>
      <div class="shape2">
      </div>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Forgot Password!</ion-card-title>

          <ion-card-subtitle>Enter you <strong>Email</strong> to reset</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content id="con1">
          <div *ngIf="loading1" class="spinner1">
            <img src="../../../../assets/output-onlinegiftools.gif">
          </div>

          <form [formGroup]="resetPasswordForm" (ngSubmit)="submitEmail()">
            <ion-item>
              <ion-input placeholder="Email Address" name="email" type="email" formControlName="email"></ion-input>
            </ion-item>
            
            <div class="bottom-section">
              <ion-button type="submit">Reset Password</ion-button>
            </div>
          </form>
        </ion-card-content>

        <ion-card-content id="con2">
          <div *ngIf="loading2" class="spinner2">
            <img src="../../../../assets/output-onlinegiftools.gif">
          </div>
          <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
            <ion-item>
              <ion-input placeholder="Enter Otp" type="number" name="otp" formControlName="otp"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input placeholder="Enter New password" name="password" formControlName="password" type="{{ hide ? 'text' : 'password' }}"></ion-input>
              <ion-icon *ngIf="hide" title="Show" name="eye-outline" (click)="eye()"></ion-icon>
              <ion-icon *ngIf="!hide" name="eye-off-outline" (click)="eye()"></ion-icon>
            </ion-item>

            <ion-item>
              <ion-input placeholder="Confirm password" type="{{ hide ? 'text' : 'password' }}" name="confirmPassword" formControlName="confirmPassword"></ion-input>
              <ion-icon *ngIf="hide" title="Show" name="eye-outline" (click)="eye()"></ion-icon>
              <ion-icon *ngIf="!hide" name="eye-off-outline" (click)="eye()"></ion-icon>
            </ion-item>

            <div class="bottom-section">
              <ion-button (click)="back()">Back</ion-button>
              <ion-button type="submit">Submit</ion-button>
            </div>
          </form>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>